<form action="/upload" , method="post" enctype="multipart/form-data">
  <label>
    Upload a file:
    <input type="file" name="uploadedFile">
  </label>
  <button type="submit">Upload</button>
</form>